---
import getPageQuery from '../../queries/page'
import getAllPageSlugs from '../../queries/allPageSlugs'
import request from '../../lib/request'
import DefaultLayout from '../../layouts/default.astro'
import Container from '../../components/Container'

const { slug } = Astro.params
const {
  data: { page }
} = await request(getPageQuery({ slug }))

export const getStaticPaths = async () => {
  const r = await request(getAllPageSlugs())
  return r.data.allPages?.map(slug => ({ params: slug }))
}
---

<DefaultLayout {...{ title: page.title}}>
  <Container>
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-10">
          <div class="max-w-3xl mx-auto">
            <article>page content</article>
          </div>
        </div>
      </div>
    </section>
  </Container>
</DefaultLayout>
