---
import getPageQuery from '../../queries/page'
import getAllPageSlugs from '../../queries/allPageSlugs'
import request from '../../lib/request'
import DefaultLayout from '../../layouts/default.astro'
import Container from '../../components/Container'
import Content from '../../components/Content'
import Date from '../../components/Date'

const { slug } = Astro.params
const {
  data: { page }
} = await request(getPageQuery({ slug }))

export const getStaticPaths = async () => {
  const r = await request(getAllPageSlugs())
  return r.data.allPages?.map(slug => ({ params: slug }))
}

const { title, content, date } = page
---

<DefaultLayout {...{ title: page.title}}>
  <Container>
    <div class="relative max-w-6xl mx-auto px-4 sm:px-6 pt-10">
      <div class="max-w-3xl mx-auto">
        <h1
          class="text-3xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-center md:text-left"
        >
          {title}
        </h1>
        <div class="max-w-2xl mx-auto">
          <Content {...{ content }} />

          <div class="max-w-2xl mx-auto mb-6 text-lg">
            <Date {...{ dateString: date }} />
          </div>
        </div>
      </div>
    </div>
  </Container>
</DefaultLayout>
