---
import getHomeQuery from '../queries/home'
import request from '../lib/request'
import DefaultLayout from '../layouts/default.astro'
import Container from '../components/Container'
import FeaturedAnnounce from '../components/FeaturedAnnounce'
import PlainAnnounce from '../components/PlainAnnounce'
import Announce from '../components/Announce'

const parsedResponse = await request(getHomeQuery())
const posts = parsedResponse.data.allPosts ?? []

const featuredPosts = posts.filter(post => post.featured)
const plainPosts = posts.filter(post => !post.featured)
---

<DefaultLayout {...{ title: 'Blog | Marat Dospolov'}}>
  <Container {...{ blogLinkActive: true }}>
    <section class="relative max-w-6xl mx-auto py-10 px-4 sm:px-6 space-y-10">
      {
        featuredPosts.map(post => (
          <FeaturedAnnounce {...{ slug: post.slug, key: post.slug }}>
            <Announce {...post} />
          </FeaturedAnnounce>
        ))
      }
      {
        plainPosts.map(post => (
          <PlainAnnounce {...{ slug: post.slug, key: post.slug }}>
            <Announce {...post} />
          </PlainAnnounce>
        ))
      }
    </section>
  </Container>
</DefaultLayout>
